{{define "content"}}
<div class="container mt-5">
<h1>Contact Us</h1>

<p>Email: info@aliluxury.com</p>
<p>Phone: +254 745952806</p>
<p>Location: Nairobi, Kenya</p>
</div>
{{end}}

{{template "base" .}}
