{{define "content"}}
<div class="suite-wrapper">

    <img src="/static/images/generals-quarters.png" class="suite-image" alt="General's Quarters">

    <div class="suite-text">
        <h1>General’s Quarters</h1>
        <p class="lead">
            Wake up to breathtaking sky views from your private balcony beside your bed.
        </p>
        <p>
            A perfect balance of serenity, comfort, and timeless luxury.
        </p>

        <a href="/search-availability" class="btn btn-success suite-btn">Check Availability</a>
    </div>

</div>
{{end}}

{{template "base" .}}
