{{template "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

    <div class="carousel-item active">
        <img src="/static/img/about-hero.jpg" class="d-block w-100" alt="Luxury Hotel">
    </div>

    <div class="carousel-item">
        <img src="/static/img/about-experience.jpg" class="d-block w-100" alt="Experience">
    </div>

    <div class="carousel-item">
        <img src="/static/img/about-rooms.jpg" class="d-block w-100" alt="Rooms">
    </div>

</div>

    <a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<div class="container mt-5 text-center">
    <h1>Welcome to Ali's Luxury Getaway</h1>
    <p class="lead">Experience comfort, elegance, and relaxation.</p>

    <a href="/search-availability" class="btn btn-success btn-lg mt-3">
        Make Reservation Now
    </a>
</div>
{{end}}
