{{define "content"}}
<div class="suite-wrapper">

    <img src="/static/images/majors-suite.png" class="suite-image" alt="Major's Suite">

    <div class="suite-text">
        <h1>Major’s Suite</h1>
        <p class="lead">
            Experience unmatched comfort and elegance. Enjoy your tea while natural light fills the room from wide open windows.
        </p>
        <p>
            Designed for guests who value luxury, privacy, and total relaxation.
        </p>

        <a href="/search-availability" class="btn btn-success suite-btn">Check Availability</a>
    </div>

</div>
{{end}}

{{template "base" .}}
